# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), February 13, 2023**

Let's get started by loading the `DataFrames` package.

In [1]:
using DataFrames, Random

## Constructors and conversion

### Constructors

In this section, you'll see many ways to create a `DataFrame` using the `DataFrame()` constructor.

First, we could create an empty DataFrame,

In [2]:
DataFrame()

0×0 DataFrame

Or we could call the constructor using keyword arguments to add columns to the `DataFrame`.

In [5]:
DataFrame(A=1:3, B=rand(3), C=randstring.([6,6,6]), fixed=1)

3×4 DataFrame
 Row │ A      B         C       fixed
     │ Int64  Float64   String  Int64
─────┼────────────────────────────────
   1 │     1  0.843244  TChqla      1
   2 │     2  0.385565  WFCP55      1
   3 │     3  0.717847  1j0WxO      1

note in column `:fixed` that scalars get automatically broadcasted.

We can create a `DataFrame` from a dictionary, in which case keys from the dictionary will be sorted to create the `DataFrame` columns.

In [9]:
x = Dict("Acol" => [1,2], "Bcol" => [true, false], "Zcol" => ['a', 'b'], "fixed" => Ref([1,1,2,1]))
DataFrame(x)

2×4 DataFrame
 Row │ Acol   Bcol   Zcol  fixed
     │ Int64  Bool   Char  Array…
─────┼──────────────────────────────────
   1 │     1   true  a     [1, 1, 2, 1]
   2 │     2  false  b     [1, 1, 2, 1]

This time we used `Ref` to protect a vector from being treated as a column and forcing broadcasting it into every row of `:fixed` column (note that the `[1,1]` vector is aliased in each row).

Rather than explicitly creating a dictionary first, as above, we could pass `DataFrame` arguments with the syntax of dictionary key-value pairs. 

Note that in this case, we use `Symbol`s to denote the column names and arguments are not sorted. For example, `:A`, the symbol, produces `A`, the name of the first column here:

In [12]:
DataFrame(:A => [1,2], :B => [true, false], :C => ['a', 'b'])

2×3 DataFrame
 Row │ A      B      C
     │ Int64  Bool   Char
─────┼────────────────────
   1 │     1   true  a
   2 │     2  false  b

Although, in general, using `Symbol`s rather than strings to denote column names is preferred (as it is faster) DataFrames.jl accepts passing strings as column names, so this also works:

In [6]:
DataFrame("A" => [1,2], "B" => [true, false], "C" => ['a', 'b'])

2×3 DataFrame
 Row │ A      B      C
     │ Int64  Bool   Char
─────┼────────────────────
   1 │     1   true  a
   2 │     2  false  b

You can also pass a vector of pairs, which is useful if it is constructed programatically:

In [13]:
DataFrame([:A => [1,2], :B => [true, false], :C => ['a', 'b'], :fixed => "const"])

2×4 DataFrame
 Row │ A      B      C     fixed
     │ Int64  Bool   Char  String
─────┼────────────────────────────
   1 │     1   true  a     const
   2 │     2  false  b     const

Here we create a `DataFrame` from a vector of vectors, and each vector becomes a column.

In [15]:
DataFrame([rand(3) for i in 1:5], :auto)

3×5 DataFrame
 Row │ x1        x2        x3        x4        x5
     │ Float64   Float64   Float64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.665331  0.435196  0.751195  0.450587  0.211802
   2 │ 0.906174  0.489717  0.510904  0.649453  0.535568
   3 │ 0.887218  0.411495  0.100222  0.78288   0.510062

In [16]:
DataFrame([rand(3) for i in 1:3], [:x1, :x2, :x3])

3×3 DataFrame
 Row │ x1        x2         x3
     │ Float64   Float64    Float64
─────┼────────────────────────────────
   1 │ 0.134265  0.457105   0.557389
   2 │ 0.989239  0.0709509  0.888936
   3 │ 0.951142  0.0830998  0.0355019

In [17]:
DataFrame([rand(3) for i in 1:3], ["x1", "x2", "x3"])

3×3 DataFrame
 Row │ x1         x2        x3
     │ Float64    Float64   Float64
─────┼───────────────────────────────
   1 │ 0.425524   0.826121  0.959241
   2 │ 0.516422   0.543243  0.563951
   3 │ 0.0778481  0.580785  0.125133

As you can see you either pass a vector of column names as a second argument or `:auto` in which case column names are generated automatically.

In particular it is not allowed to pass a vector of scalars to `DataFrame` constructor.

In [20]:
DataFrame([1, 2, 3])

LoadError: ArgumentError: 'Vector{Int64}' iterates 'Int64' values, which doesn't satisfy the Tables.jl `AbstractRow` interface

Instead use a transposed vector if you have a vector of single values (in this way you effectively pass a two dimensional array to the constructor which is supported the same way as in vector of vectors case).

In [21]:
DataFrame(permutedims([1, 2, 3]), :auto)

1×3 DataFrame
 Row │ x1     x2     x3
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      2      3

You can also pass a vector of `NamedTuple`s to construct a `DataFrame`:

In [22]:
v = [(a=1, b=2), (a=3, b=4), (b=12, a=42)]
DataFrame(v)

3×2 DataFrame
 Row │ a      b
     │ Int64  Int64
─────┼──────────────
   1 │     1      2
   2 │     3      4
   3 │    42     12

Alternatively you can pass a `NamedTuple` of vectors:

In [23]:
n = (a=1:3, b=11:13)
DataFrame(n)

3×2 DataFrame
 Row │ a      b
     │ Int64  Int64
─────┼──────────────
   1 │     1     11
   2 │     2     12
   3 │     3     13

Here we create a `DataFrame` from a matrix,

In [24]:
DataFrame(rand(3, 4), :auto)

3×4 DataFrame
 Row │ x1        x2         x3        x4
     │ Float64   Float64    Float64   Float64
─────┼─────────────────────────────────────────
   1 │ 0.174277  0.0592897  0.869489  0.364268
   2 │ 0.925159  0.0252432  0.511425  0.204193
   3 │ 0.580204  0.588397   0.580297  0.674286

and here we do the same but also pass column names.

In [25]:
DataFrame(rand(3, 4), Symbol.('a':'d'))

3×4 DataFrame
 Row │ a         b         c         d
     │ Float64   Float64   Float64   Float64
─────┼────────────────────────────────────────
   1 │ 0.758343  0.128567  0.798942  0.225696
   2 │ 0.264872  0.622288  0.828503  0.639893
   3 │ 0.647939  0.242209  0.171838  0.718251

or

In [26]:
DataFrame(rand(3, 4), string.('a':'d'))

3×4 DataFrame
 Row │ a         b         c          d
     │ Float64   Float64   Float64    Float64
─────┼─────────────────────────────────────────
   1 │ 0.95393   0.718642  0.628038   0.373739
   2 │ 0.837741  0.248677  0.980217   0.337835
   3 │ 0.998423  0.704976  0.0729839  0.941563

This is how you can create a data frame with no rows, but with predefined columns and their types:

In [27]:
DataFrame(A=Int[], B=Float64[], C=String[])

0×3 DataFrame
 Row │ A      B        C
     │ Int64  Float64  String
─────┴────────────────────────

Finally, we can create a `DataFrame` by copying an existing `DataFrame`.

Note that `copy` also copies the vectors.

In [28]:
x = DataFrame(a=1:2, b='a':'b')
y = copy(x)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, false)

Calling `DataFrame` on a `DataFrame` object works like `copy`.

In [29]:
x = DataFrame(a=1:2, b='a':'b')
y = DataFrame(x)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, false)

You can avoid copying of columns of a data frame (if it is possible) by passing `copycols=false` keyword argument:

In [30]:
x = DataFrame(a=1:2, b='a':'b')
y = DataFrame(x, copycols=false)
(x === y), isequal(x, y), (x.a == y.a), (x.a === y.a)

(false, true, true, true)

The same rule applies to other constructors

In [31]:
a = [1, 2, 3]
df1 = DataFrame(a=a)
df2 = DataFrame(a=a, copycols=false)
df1.a === a, df2.a === a

(false, true)

You can create a similar uninitialized `DataFrame` based on an original one:

In [32]:
x = DataFrame(a=1, b=1.0)

1×2 DataFrame
 Row │ a      b
     │ Int64  Float64
─────┼────────────────
   1 │     1      1.0

In [33]:
similar(x)

1×2 DataFrame
 Row │ a      b
     │ Int64  Float64
─────┼────────────────────
   1 │     2  1.1671e-312

number of rows in a new DataFrame can be passed as a second argument

In [35]:
similar(x, 0)

0×2 DataFrame
 Row │ a      b
     │ Int64  Float64
─────┴────────────────

In [37]:
similar(x, 4)

4×2 DataFrame
 Row │ a           b
     │ Int64       Float64
─────┼──────────────────────────
   1 │ 4789457552  2.35647e-314
   2 │ 6359920400  2.16217e-314
   3 │ 6121697168  2.16217e-314
   4 │ 6121698000  2.16228e-314

You can also create a new `DataFrame` from `SubDataFrame` or `DataFrameRow` (discussed in detail later in the tutorial; in particular although `DataFrameRow` is considered a 1-dimensional object similar to a `NamedTuple` it gets converted to a 1-row `DataFrame` for convenience)

In [38]:
sdf = view(x, [1,1], :)

2×2 SubDataFrame
 Row │ a      b
     │ Int64  Float64
─────┼────────────────
   1 │     1      1.0
   2 │     1      1.0

In [40]:
typeof(sdf)

SubDataFrame{DataFrame, DataFrames.Index, Vector{Int64}}

In [29]:
DataFrame(sdf)

2×2 DataFrame
 Row │ a      b
     │ Int64  Float64
─────┼────────────────
   1 │     1      1.0
   2 │     1      1.0

In [41]:
dfr = x[1, :]

DataFrameRow
 Row │ a      b
     │ Int64  Float64
─────┼────────────────
   1 │     1      1.0

In [44]:
DataFrame(dfr)

1×2 DataFrame
 Row │ a      b
     │ Int64  Float64
─────┼────────────────
   1 │     1      1.0

### Conversion to a matrix

Let's start by creating a `DataFrame` with two rows and two columns.

In [45]:
x = DataFrame(x=1:2, y=["A", "B"])

2×2 DataFrame
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

We can create a matrix by passing this `DataFrame` to `Matrix` or `Array`.

In [46]:
Matrix(x)

2×2 Matrix{Any}:
 1  "A"
 2  "B"

In [47]:
Array(x)

2×2 Matrix{Any}:
 1  "A"
 2  "B"

This would work even if the `DataFrame` had some `missing`s:

In [48]:
x = DataFrame(x=1:2, y=[missing,"B"])

2×2 DataFrame
 Row │ x      y
     │ Int64  String?
─────┼────────────────
   1 │     1  missing
   2 │     2  B

In [49]:
Matrix(x)

2×2 Matrix{Any}:
 1  missing
 2  "B"

In the two previous matrix examples, Julia created matrices with elements of type `Any`. We can see more clearly that the type of matrix is inferred when we pass, for example, a `DataFrame` of integers to `Matrix`, creating a 2D `Array` of `Int64`s:

In [50]:
x = DataFrame(x=1:2, y=3:4)

2×2 DataFrame
 Row │ x      y
     │ Int64  Int64
─────┼──────────────
   1 │     1      3
   2 │     2      4

In [51]:
Matrix(x)

2×2 Matrix{Int64}:
 1  3
 2  4

In this next example, Julia correctly identifies that `Union` is needed to express the type of the resulting `Matrix` (which contains `missing`s).

In [52]:
x = DataFrame(x=1:2, y=[missing,4])

2×2 DataFrame
 Row │ x      y
     │ Int64  Int64?
─────┼────────────────
   1 │     1  missing
   2 │     2        4

In [54]:
Matrix(x)

2×2 Matrix{Union{Missing, Int64}}:
 1   missing
 2  4

Note that we can't force a conversion of `missing` values to `Int`s!

In [55]:
Matrix{Int}(x)

LoadError: ArgumentError: cannot convert a DataFrame containing missing values to Matrix{Int64} (found for column y)

### Conversion to `NamedTuple` related tabular structures

First define some data frame

In [56]:
x = DataFrame(x=1:2, y=["A", "B"])

2×2 DataFrame
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

Now we convert a `DataFrame` into a `NamedTuple` of vectors

In [57]:
ct = Tables.columntable(x)

(x = [1, 2], y = ["A", "B"])

Next we convert it into a vector of `NamedTuples`

In [58]:
rt = Tables.rowtable(x)

2-element Vector{@NamedTuple{x::Int64, y::String}}:
 (x = 1, y = "A")
 (x = 2, y = "B")

We can perform the conversions back to a `DataFrame` using a standard constructor call:

In [59]:
DataFrame(ct)

2×2 DataFrame
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

In [60]:
DataFrame(rt)

2×2 DataFrame
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

### Iterating data frame by rows or columns

Sometimes it is useful to create a wrapper around a `DataFrame` that produces its rows or columns.

For iterating columns you can use the `eachcol` function.

In [61]:
ec = eachcol(x)

2×2 DataFrameColumns
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

`DataFrameColumns` object behaves as a vector (note though it is not `AbstractVector`)

In [62]:
ec isa AbstractVector

false

In [68]:
ec[2]

2-element Vector{String}:
 "A"
 "B"

but you can also index into it using column names:

In [64]:
ec["x"]

2-element Vector{Int64}:
 1
 2

similarly `eachrow` creates a `DataFrameRows` object that is a vector of its rows

In [65]:
er = eachrow(x)

2×2 DataFrameRows
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

`DataFrameRows` is an `AbstractVector`

In [66]:
er isa AbstractVector

true

In [67]:
er[end]

DataFrameRow
 Row │ x      y
     │ Int64  String
─────┼───────────────
   2 │     2  B

Note that both data frame and also `DataFrameColumns` and `DataFrameRows` objects are not type stable (they do not know the types of their columns). This is useful to avoid compilation cost if you have very wide data frames with heterogenous column types.

However, often (especially if a data frame is narrows) it is useful to create a lazy iterator that produces `NamedTuple`s for each row of the `DataFrame`. Its key benefit is that it is type stable (so it is useful when you want to perform some operations in a fast way on a small subset of columns of a `DataFrame` - this strategy is often used internally by DataFrames.jl package):

In [69]:
nti = Tables.namedtupleiterator(x)

Tables.NamedTupleIterator{Tables.Schema{(:x, :y), Tuple{Int64, String}}, Tables.RowIterator{@NamedTuple{x::Vector{Int64}, y::Vector{String}}}}(Tables.RowIterator{@NamedTuple{x::Vector{Int64}, y::Vector{String}}}((x = [1, 2], y = ["A", "B"]), 2))

In [70]:
for row in enumerate(nti)
    @show row
end

row = (1, (x = 1, y = "A"))
row = (2, (x = 2, y = "B"))

similarly to the previous options you can easily convert `NamedTupleIterator` back to a `DataFrame`.

In [71]:
DataFrame(nti)

2×2 DataFrame
 Row │ x      y
     │ Int64  String
─────┼───────────────
   1 │     1  A
   2 │     2  B

### Handling of duplicate column names

We can pass the `makeunique` keyword argument to allow passing duplicate names (they get deduplicated)

In [73]:
df = DataFrame(:a=>1, :a=>2, :a_1=>3; makeunique=true)

1×3 DataFrame
 Row │ a      a_2    a_1
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      2      3

Otherwise, duplicates are not allowed.

In [74]:
df = DataFrame(:a=>1, :a=>2, :a_1=>3)

LoadError: ArgumentError: Duplicate variable names: :a. Pass makeunique=true to make them unique using a suffix automatically.

Observe that currently `nothing` is not printed when displaying a `DataFrame` in Jupyter Notebook:

In [75]:
df = DataFrame(x=[1, nothing], y=[nothing, "a"], z=[missing, "c"])

2×3 DataFrame
 Row │ x       y       z
     │ Union…  Union…  String?
─────┼─────────────────────────
   1 │ 1               missing
   2 │         a       c

Finally you can use `empty` and `empty!` functions to remove all rows from a data frame:

In [77]:
empty(df)

0×3 DataFrame
 Row │ x       y       z
     │ Union…  Union…  String?
─────┴─────────────────────────

In [61]:
df

2×3 DataFrame
 Row │ x       y       z
     │ Union…  Union…  String?
─────┼─────────────────────────
   1 │ 1               missing
   2 │         a       c

In [62]:
empty!(df)

0×3 DataFrame
 Row │ x       y       z
     │ Union…  Union…  String?
─────┴─────────────────────────

In [63]:
df

0×3 DataFrame
 Row │ x       y       z
     │ Union…  Union…  String?
─────┴─────────────────────────